*{
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;


}

body {
    position: relative;
    height: 80vh;
    width: 90vw;
    font-size: 1.5em;
    margin: 5vw;
    font-family: Arial, sans-serif;
    background-color: rgb(146, 145, 145);

}
.features{
    display: flex;
    gap: 1em;
    justify-content: left;
    align-items: center;
    margin-bottom: 1em;
}
.container{
    margin: auto;
}

.book-cards {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    align-items: flex-start;
    border : 1px solid #ccc;
    width: 70%;   
    margin: auto;
}
.book-card {
    background-color: rgb(50, 202, 207);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    min-height: 150px;
    max-height: 250px;
    justify-content: space-evenly;
    padding: .5em;
    gap: .5em;
}


.book-card-img {
    width: 30%;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.book-card-title {
    font-size: .7em;
    font-weight: bold;
}

.book-card-price {
    font-size: .5em;
    color: white;
}

.book-card-rating {
    font-size: 0.7em;
    color: white;
}

.book-card-actions {
    display: flex;
    gap: 0.3em;
}

.empty-table-message{
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgb(146, 145, 145);
}
.main-header{
    text-align: center;
    padding: 20px;
    background-color: #c3dae0e7;
    border-radius: 8px;
}
.action{
    font-weight: bold;
    padding: .4em;
    cursor: pointer;
}
.read,.update,.delete{
    border-radius: 8px;
    border: none;
    font-size: .45em;
 
}
.read{
    background-color: rgb(37, 162, 201);
}
.update{
    background-color: rgb(219, 206, 21);
}
.delete{
    background-color: rgb(233, 123, 34);
}
.add-book{
    place-self:  end center;
    margin-bottom: 10px;
    grid-area: add;
    height: auto;
    width: 20%;
    border-radius: 8px;
    background-color: #c3dae0e7;
    border: none;
    cursor: pointer;
}
.footer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border-radius: 8px;
    margin-top: 20px;
    justify-content: space-between;
    background-color: #c3dae0e7;
    align-items: center;
    font-size: .8em;
}
.footer-text{
    font-size: 0.8em;
    color: #333;
    margin: 10px;
}
.footer-stats{
    display: flex;
    gap: 20px;
    margin: 10px;
}
.expensive-books,
.average-books,
.cheap-books{
    font-size: 0.8em;
    color: #333;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}
.expensive-books{
        background-color: rgb(37, 162, 201);
}
.average-books{
    background-color: rgb(219, 206, 21);
}
.cheap-books{
    background-color: rgb(233, 123, 34);
}
.book-details-modal{ 
    position: relative;
    width: 70%;
    height: 50%;
    background-color: rgba(195, 218, 224, 0.905);
}
.close-modal{
    position: absolute;
    top:0;
    right: 0;
    font-size: .5em;
    cursor: pointer;
}
.filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
}
.header{
    grid-area: header;
}
.dialog-title{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
}
.book-image{
    width: 70%;
    height: 300px;
    border-radius: 8px;

}
.book-title{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
.book-price{
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    color: #333;
}
.book-txt{
    font-size: 1em;
    text-align: center;
    padding: 0.5em;
    overflow-y: auto;
    max-height: 200px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.message-modal{
    position: fixed;
    bottom:0;
    right: 0;
    background-color: rgb(82, 177, 82);
    width: max-content;
    height: auto;
    padding: .6em;
    border-radius: 20px;
}
.success-txt{
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

.hidden{
    display: none;
}