


*{
    box-sizing: border-box;
}
html{
    height: 100%;
}

body {
    height: 95%;
    margin: 0 5vw;    
    position: relative;
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 57%);

}
.features{
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: .5em;
    border-radius: 10px;
    color: white;
    background-color: hsl(0, 0%, 37%);
}
.page-info{
    height: 2em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    background-color:  hsl(0, 0%, 67%);
}

.nav-page{
    padding: .5em;
    cursor: pointer;
    font-weight: bold;
    color: hsl(0, 0%, 37%);
    background-color: #c3dae0e7 ;
}

.page-num{
    color: white;
}
.container{
    height: 70%;
    position: relative;
}

.book-cards {
    margin-top: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}
.book-card {
    width: 210px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: .5em;
    padding: .5em;
    border: 3px solid black;
    border-radius: 10px;    
    background-color:   hsl(0, 0%, 67%);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.book-card:hover{
    transform: scale(1.5);
}


.book-card-img {
    width: 30%;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.book-card-title {
    color: white;
    font-size: .7em;
    font-weight: bold;
}

.book-card-price {
    font-size: .6em;
    color: white;
}

.book-card-rating {
    font-size: 0.7em;
    color: white;
}

.book-card-actions {
    display: flex;
    gap: 0.3em;
}

.empty-table-message{
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgb(146, 145, 145);
}
.main-header{
    margin-bottom: 1.5em;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 8px;
    background-color: #c3dae0e7;
}
.action{
    font-weight: bold;
    padding: .6em;
    cursor: pointer;
}
.read,.update,.delete{
    border-radius: 8px;
    border: none;
    font-size: .45em;
 
}
.read{
    background-color: rgb(37, 162, 201);
}
.update{
    background-color: rgb(219, 206, 21);
}
.delete{
    background-color: rgb(233, 123, 34);
}
.add-book{
    width: 20%;
    height: 2em;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    background-color: #c3dae0e7;
}
.footer{ 
    width: 100%;
    position: relative;
    left: 0;
    top: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c3dae0e7;
    flex-wrap: wrap;
    border-radius: 8px;
    font-size: .8em;
}
.footer-text{
    margin: 10px;
    font-size: 0.8em;
    color: #333;
}
.footer-stats{
    margin: 10px;
    display: flex;
    gap: 20px;
}
.expensive-books,
.average-books,
.cheap-books{
    margin: 10px;
    font-size: 0.8em;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: #333;
}
.expensive-books{
    background-color: rgb(37, 162, 201);
}
.average-books{
    background-color: rgb(219, 206, 21);
}
.cheap-books{
    background-color: rgb(233, 123, 34);
}
.book-details-modal{ 
    width: 90%;
    height: 70%;
    position: relative;
    background-color: rgba(195, 218, 224, 0.905);
}
.dialog-content{
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.dialog-header{
    text-align: center;
    font-size: 2.5em;
}
.close-modal{
    position: absolute;
    top:0;
    right: 0;
    font-size: .5em;
    cursor: pointer;
}
.filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.sort-dir{
    display: flex;
    gap: 1em;
 
}
.dialog-body{
    display: flex;
    align-items: center;
    gap :4em;
}
.dialog-stats{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.book-dialog-title{
    font-weight: bold; 
    font-size: 2em;
    color: rgb(56, 114, 101);
}
.book-dialog-img{
    width: 40%;
    border: 2px solid black;
    border-radius: 8px;
}
.book-dialog-price{
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    color: #333;
}
.book-dialog-txt{
    font-size: 1em;
    text-align: center;
    padding: 0.5em;
    color: #333;
    border-radius: 8px;
}
.book-dialog-rating{
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    color: #333;
}

.message-modal{
    position: fixed;
    bottom:0;
    right: 0;
    padding: .6em;
    border-radius: 20px;
    background-color: rgb(82, 177, 82);
}
.success-txt{
    font-weight: bold;
    font-size: 1.2em;
    color: white;
}

.hidden{
    display: none;
}

.display-button{   
    padding: 1em;
    border: 1px solid black;
    cursor: pointer;
    background-color: yellow;
}

.book-table {
    height: 100%;
    width:100%;
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;
}

.book-list tr:nth-child(even) {
    background-color: rgb(212, 211, 205)
}

th{
    background-color: white;
}
